<div class="field clear-margin">
  <div class="input-title left"><%= f.label :banner_image, "Image * :" %></div>
  <div class="input-box left"><%= f.file_field :banner_image %></div>
</div>
<div class="field clear-margin">
  <div class="input-title left">&nbsp;</div>
  <div class="input-box left small-font">
    Input image with size 900x360 (width x height)
  </div>
</div>
