<div id="sub-header-container">
  <div class="sub-header">
    <div class="title">About Us</div>
  <div class="clear"></div>
  </div>
</div>

<div id="content-conatiner">
  <div class="content">
    <div class="inner-content">
      <div class="inner-content-info" id="about-us">
        <%= raw @about_us.content %>
      </div>
    </div>
  <div class="clear"></div>
  </div>
</div>