<!-- Modal -->
<div class="modal fade"  id="shop_modal"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content" style="background-image: url('/assets/modal-bg.png');background-size: contain;">
      <div class="container-fluid">
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row modal-ctn">
          <div class="col-md-12">
            <h2 class="pt-sm-3 mb-4 text-center">Shop<br /><span class="u">Now</span></h2>
          </div>
          <div class="col-md-12 btn-link">
            <%= link_to "SHOPEE", "https://shopee.co.id/elektrigo",class: "btn btn-outline-gray", target: "blank" %>
          </div>
          <div class="col-md-12 btn-link">
            <%= link_to "TOKOPEDIA", "https://www.tokopedia.com/kanahome-id",class: "btn btn-outline-gray", target: "blank" %>
          </div>
          <div class="col-md-12 btn-link last">
            <%= link_to "BLIBLI", "https://www.blibli.com/merchant/kanahome-id/KAD-70005",class: "btn btn-outline-gray", target: "blank" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Ends -->