<div class="field">
  <div class="input-title left"><%= f.label :parent_id, "Parent Category * :" %></div>
  <div class="input-box left">
    <%= f.select :parent_id, Category.parent_categories.collect {|p| [ p.name, p.id ] },
                 { :include_blank => true } %>
  </div>
</div>
<div class="field">
  <div class="input-title left"><%= f.label :name, "Name * :" %></div>
  <div class="input-box left"><%= f.text_field :name %></div>
</div>
